<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3" *ngIf="user!=null">
    <a class="navbar-brand" routerLink="/">Sandelys</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Sarasas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/new" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Nauja preke</a>
        </li>
        
      </ul>
      
    </div>
    
    <div class="float-end" *ngIf="user!=null">
      <button (click)="logoutButton()" class="btn btn-info">Atsijungti</button>
      Jus prisijunges kaip: {{user.username}}
    </div>
  </nav>